bin
lib
webapp/__pycache__/
webapp/data.sqlite
webapp/data.sqlite3
webapp/.idea/
webapp/dataset
*.pyc
./**/*.pyc
include/
webapp/feature_extraction/*.pyc
webapp/feature_extraction/models/
webapp/images_eval
