<div class="formWrp">
  <div class="container">
      <div class="row make-defafult-wrapper">
        <div class="center">
          {% include "default_algo.html" with context%}
        </div>
      </div>

      <div class="row form-wrap">
        <div class="col-md-4 deeplearning-input-group">
          <div class="input-group">
            <select id="model-selection" class="dropdown form-control">
              <option value="Select Model" > Select Model </option>
              {% for name in models_names %}
              <option value="{{name}}" > {{ capitalize(name) }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4 deeplearning-input-group">
          <div class="input-group">
            <select id="neural_layer" class="dropdown form-control">
              <option value="Select Layer">Select Layer</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 deeplearning-input-group" id="extract-container" style="display: none;">
          <div class="input-group">
            <!-- <a href="/settings" class="btn btn-primary form-control">Go To Seeting</a> -->
            <form action="/extract" id="extract_form" method="post">
              <div class="row">
                <input type="hidden" name="extract_settings" id="extract_settings">
                <button id='extract_btn' class="btn btn-primary form-control">Extract</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 deeplearning-input-group"  id="mlalgo-container" style="display: none;">
          <div class="input-group">
            <select id="mlalgorithm" class="dropdown form-control">
              <option value="Select Algo">Select Algo</option>
              <option value="KNN">KNN</option>
              <option value="cosine">Cosine</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row make-defafult-wrapper" id="default-button-container" style="display: none;">
        <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-9 deeplearning-input-group">
          <div class="input-group">
            <form action="/settings" id='settings_form' method='post'>
              <div class="row">
                <input type="hidden" name='default_settings' id='default_settings'>
                <button id='make_default_btn' class="btn btn-primary form-control">Make default</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
