<div class="formWrp">
  <div class="container">
    <form>
      <div class="row form-wrap">
        <div class="col-md-4 deeplearning-input-group">
          <div class="input-group">
            <select id="model-selection" class="dropdown form-control">
              <option value="Select Model" > Select Model </option>
              {% for name in models_names %}
              <option value="{{name}}" > {{ capitalize(name) }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4 deeplearning-input-group">
          <div class="input-group">
            <select id="neural_layer" class="dropdown form-control">
              <option value="Select Layer">Select Layer</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 deeplearning-input-group" id="mlalgo-container" style="display: none;">
          <div class="input-group">
            <select id="mlalgorithm" class="dropdown form-control">
              <option value="Select Algo">Select Algo</option>
              <option value="KNN">KNN</option>
              <option value="cosine">Cosine</option>
            </select>
          </div>
        </div>

        <div class="col-md-4 deeplearning-input-group" id="setting-container" style="display: none;">
          <div class="input-group">
            <a href="/settings" class="btn btn-primary form-control">Go To Seeting</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
