<div class="row">
  <div class="col-xs-6 col-xs-offset-3 col-md-8 col-md-offset-2">
    <form action="/search" method="POST" id="search-form">
      <div class="input-group">
        <input type="text" name='search' class="form-control" id='searchbox' placeholder="Search for..." autocomplete="off">
        <span class="input-group-btn">
          <input type="hidden" name="ml_settings" id="ml_settings">
          <input type="button" id="searchbtn" class="btn btn-default" value="Go!">
        </span>
      </div><!-- /input-group -->
    </form>
    <script>
    $(function() {
      var searchbtn = $("#searchbtn");
      var search_form = $("#search-form");
      searchbtn.on('click', (evt) => {
        evt.preventDefault();
        search_form.submit();
      })
    });
  </script>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
