<div class="row">
  <div class="col-xs-6 col-xs-offset-3 col-md-8 col-md-offset-2">
    <form action="/search" method="POST">
      <div class="input-group">
        <input type="text" name='search' class="form-control" id='searchbox' placeholder="Search for..." autocomplete="off">
        <span class="input-group-btn">
          <input type="submit" id="searchbtn" class="btn btn-default" value="Go!">
        </span>
      </div><!-- /input-group -->
    </form>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
