{% extends 'base.html'%}
{% block model_setup %}
  {% include "models_layer_setup.html" %}
{% endblock model_setup %}
{% block content %}
<div class="main">
  {% include 'search.html' %}
  <script>
    var available_models = JSON.parse({{available_models|tojson|safe}});
    $(function() {
      var search_form = $("#search-form");
      var searchbtn = $("#searchbtn");
      var neural_layer = $('#neural_layer');
      var model_selection = $('#model-selection');
      var algo_selection = $("#mlalgorithm")
      var mlalgo_container = $("#mlalgo-container");
      var setting_container = $("#setting-container");

      function hideall() {
        mlalgo_container.css({'display': 'none'});
        setting_container.css({'display': 'none'});
      }

      model_selection.on('change', (evt) => {
        evt.preventDefault();
        var selected_value = evt.target.value;
        neural_layer.empty()
        neural_layer.append($('<option>', {
          value: 'Select Layer',
          text: 'Select Layer'
        }));

        if (selected_value == 'Select Model') {
          hideall()
          return false;
        };
        for (let val of available_models[selected_value]) {
          neural_layer.append($('<option>', {
            value: val.name,
            text: val.name
          }));
        }
      });
      neural_layer.on('change', (evt) => {
        evt.preventDefault();
        var selected_value = evt.target.value;
        var selected_model = model_selection.val();

        if (selected_value == 'Select Layer') {
          hideall();
          return false
        }

        var matched = available_models[selected_model].filter((obj) => {
          if (obj.name == selected_value) return true;
          return false
        });
        var obj = matched[0];
        if (obj.extracted) {
          mlalgo_container.css({'display': 'block'})
        } else {
          setting_container.css({'display': 'block'})
        }
      });

      searchbtn.on('click', (evt) => {
        evt.preventDefault();
        var output = {
          'model': model_selection.val(),
          'layer': neural_layer.val(),
          'algo': algo_selection.val() == 'Select Algo' ? 'knn' : algo_selection.val()
        }
        document.getElementById('ml_settings').value = JSON.stringify(output)
        search_form.submit();
      })
    });
  </script>
	<p> Caffe Version {{caffe_version}} </p>
</div>
{% endblock %}
