{% extends 'base.html'%}
{% block model_setup %}
  {% include "models_layer_setup.html" with context%}
{% endblock model_setup %}
{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Settings</h2>
          </div>
        </div>
        <div class="row">
            {{message}}
            {{allrow}}
        </div>
    <script>
    var available_models = JSON.parse({{available_models|tojson|safe}});
    $(function() {
      var neural_layer = $('#neural_layer');
      var model_selection = $('#model-selection');
      var algo_selection = $('#mlalgorithm')
      var mlalgo_container = $("#mlalgo-container");
      var extract_container = $("#extract-container");
      var default_button_container = $("#default-button-container");
      
      var extract_btn =  $("#extract_btn");
      var extract_form = $("#extract_form");
      var make_default_btn = $("#make_default_btn");
      var settings_form = $("#settings_form");

      function hideall() {
        mlalgo_container.css({'display': 'none'});
        extract_container.css({'display': 'none'});
        default_button_container.css({'display': 'none'});
      }

      model_selection.on('change', (evt) => {
        evt.preventDefault();
        var selected_value = evt.target.value;
        neural_layer.empty()
        neural_layer.append($('<option>', {
          value: 'Select Layer',
          text: 'Select Layer'
        }));

        if (selected_value == 'Select Model') {
          hideall()
          return false;
        };
        for (let val of available_models[selected_value]) {
          neural_layer.append($('<option>', {
            value: val.name,
            text: val.name
          }));
        }
        neural_layer.trigger('change');
      });

      algo_selection.on('change', (evt) => {
        evt.preventDefault();
        var selected_value = evt.target.value;
        if (selected_value == 'Select Algo') {
          default_button_container.css({'display': 'none'});
          return false;
        } else {
          default_button_container.css({'display': 'block'});
        }
      });

      neural_layer.on('change', (evt) => {
        evt.preventDefault();
        var selected_value = evt.target.value;
        var selected_model = model_selection.val();

        if (selected_value == 'Select Layer') {
          hideall();
          return false
        }

        var matched = available_models[selected_model].filter((obj) => {
          if (obj.name == selected_value) return true;
          return false
        });

        var obj = matched[0];

        if (obj.extracted) {
          mlalgo_container.css({'display': 'block'})
          extract_container.css({'display': 'none'})
        } else {
          extract_container.css({'display': 'block'})
          mlalgo_container.css({'display': 'none'})
        }
      });

      extract_btn.on('click', (evt) => {
        evt.preventDefault();
        var output = {
           'model': model_selection.val(),
           'layer': neural_layer.val()
        }
        document.getElementById("extract_settings").value = JSON.stringify({"model":5 , "layer":6})
        extract_form.submit();
      });

      make_default_btn.on('click', (evt) => {
        evt.preventDefault();
        var output = {
           'model': model_selection.val(),
           'layer': neural_layer.val(),
           'algo': algo_selection.val()
        }
        document.getElementById('default_settings').value = JSON.stringify(output)
        settings_form.submit();
      })

      algo_selection.on('change', (evt) => {
        evt.preventDefault();
        var val = algo_selection.val()

        if (val != 'Select Algo') {
          default_button_container.css({'display': 'block'})
        } else {
          default_button_container.css({'display': 'none'})
        }
      });
    });
  </script>
    </div>
{% endblock %}
