{% extends 'base.html'%}
{% block content %}
<style>
.video-relevant{
	border: 3px solid green;
}
.video-irrelevant{
	border: 3px solid red;
}
</style>
<div class="main">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-8 col-md-offset-2">
      <form action="/application" method="POST" id="search-form">
        <div class="input-group">
          <input type="text" name='search' class="form-control" id='searchbox' placeholder="Search for..." autocomplete="off">
          <span class="input-group-btn">
            <input type="hidden" name="ml_settings" id="ml_settings">
            <input type="button" id="searchbtn" class="btn btn-default" value="Go!">
          </span>
        </div><!-- /input-group -->
      </form>
<div class="row youtubecontainer">
        {{get_text}}
        {% for url in  urls %}
	<div class="row">
		{%for ur in url %}
		<div class="col-xs-4 video-irrelevant">
		  <iframe width="240"
		    src={{result['url']}} frameborder="0" allowfullscreen >
		  </iframe>
    </div>
    <label for="male"> Nepal hooooo === + {{ur['relevance']}} </label>
		{%endfor%}
	</div>

        {% endfor %}


      </div>

      
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>

<script type="text/javascript">

  $(function () {
    var searchbtn = $("#searchbtn");
    var search_form = $("#search-form");
    searchbtn.on('click', (evt) => {
      evt.preventDefault();
      search_form.submit();
    })
  });
  var searchBox = $("#searchbox");
  searchBox.autocomplete({
    source: '/suggestion',
    minLength: 2,
    select: function (evt, ui) {
      console.log(ui.item.value)
    }
  });
</script>
{% endblock %}
